-- AUTO-GENERATED MySQL DDL FROM SQLAlchemy MODELS
-- Tables: 43


CREATE TABLE core_configsync (
	id INTEGER NOT NULL, 
	server_url TEXT, 
	server_email TEXT, 
	server_password TEXT, 
	api_token TEXT, 
	last_sync_at TEXT, 
	last_sync_by TEXT, 
	last_sync_status VARCHAR(20), 
	last_sync_message TEXT, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id)
)


;


CREATE TABLE core_enterprises (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	name VARCHAR(255) NOT NULL, 
	address TEXT, 
	phone VARCHAR(50), 
	email VARCHAR(100), 
	rccm VARCHAR(100), 
	id_nat VARCHAR(100), 
	logo BLOB, 
	slogan TEXT, 
	currency VARCHAR(10), 
	taux_de_change NUMERIC(12, 4), 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id)
)


;


CREATE TABLE core_fournisseurs (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	nom VARCHAR(200) NOT NULL, 
	telephone VARCHAR(20), 
	adresse TEXT, 
	email VARCHAR(100), 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id)
)


;


CREATE TABLE core_sync (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	table_name VARCHAR(100) NOT NULL, 
	operation VARCHAR(10) NOT NULL, 
	record_id TEXT NOT NULL, 
	data_json TEXT NOT NULL, 
	synced INTEGER NOT NULL, 
	sync_error TEXT, 
	created_at TEXT NOT NULL, 
	created_by TEXT, 
	synced_at TEXT, 
	updated_at TEXT, 
	PRIMARY KEY (id)
)


;


CREATE TABLE core_sync_history (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	direction VARCHAR(10) NOT NULL, 
	tables_affected TEXT, 
	records_count INTEGER NOT NULL, 
	push_sent INTEGER, 
	push_success INTEGER, 
	push_errors INTEGER, 
	status VARCHAR(20) NOT NULL, 
	triggered_by TEXT, 
	error_message TEXT, 
	created_at TEXT NOT NULL, 
	updated_at TEXT, 
	PRIMARY KEY (id)
)


;


CREATE TABLE core_sync_id_map (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	table_name VARCHAR(100) NOT NULL, 
	local_id TEXT NOT NULL, 
	server_id TEXT NOT NULL, 
	created_at TEXT NOT NULL, 
	updated_at TEXT, 
	PRIMARY KEY (id), 
	CONSTRAINT uq_core_sync_id_map_local UNIQUE (table_name, local_id), 
	CONSTRAINT uq_core_sync_id_map_server UNIQUE (table_name, server_id)
)


;


CREATE TABLE core_sync_settings (
	id INTEGER NOT NULL, 
	api_url TEXT, 
	api_token TEXT, 
	last_sync TEXT, 
	last_sync_status VARCHAR(20), 
	last_sync_message TEXT, 
	updated_at TEXT, 
	created_at DATETIME, 
	PRIMARY KEY (id)
)


;


CREATE TABLE hotel_categories (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	name VARCHAR(150) NOT NULL, 
	price_per_night FLOAT NOT NULL, 
	created_at DATETIME, 
	deleted INTEGER, 
	updated_at DATETIME, 
	PRIMARY KEY (id)
)


;


CREATE TABLE modules (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	name VARCHAR(100) NOT NULL, 
	description TEXT, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	UNIQUE (name)
)


;


CREATE TABLE shop_clients (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	pos_id INTEGER NOT NULL, 
	nom VARCHAR(100) NOT NULL, 
	prenom VARCHAR(100), 
	telephone VARCHAR(20), 
	email VARCHAR(150), 
	adresse TEXT, 
	ville VARCHAR(100), 
	code_postal VARCHAR(10), 
	date_naissance DATETIME, 
	type_client VARCHAR(50), 
	credit_limit NUMERIC(15, 2), 
	balance NUMERIC(15, 2), 
	notes TEXT, 
	pays VARCHAR(100), 
	carte_identite VARCHAR(100), 
	type_carte VARCHAR(50), 
	is_active BOOL, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id)
)


;


CREATE TABLE shop_comptes_config (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	pos_id INTEGER NOT NULL, 
	nom VARCHAR(100) NOT NULL, 
	type_compte VARCHAR(50) NOT NULL, 
	numero_compte VARCHAR(100), 
	description TEXT, 
	is_active BOOL, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id)
)


;


CREATE TABLE shop_expenses (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	pos_id INTEGER NOT NULL, 
	description VARCHAR(200) NOT NULL, 
	amount NUMERIC(15, 2) NOT NULL, 
	expense_date DATETIME, 
	category VARCHAR(50), 
	payment_method VARCHAR(50), 
	reference VARCHAR(100), 
	notes TEXT, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id)
)


;


CREATE TABLE shop_services (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	pos_id INTEGER NOT NULL, 
	name VARCHAR(200) NOT NULL, 
	description TEXT, 
	image TEXT, 
	cost NUMERIC(15, 2), 
	price NUMERIC(15, 2), 
	compte_produit_id INTEGER, 
	compte_charge_id INTEGER, 
	is_active BOOL, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id)
)


;


CREATE TABLE stock_config (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	entreprise_id INTEGER NOT NULL, 
	`key` VARCHAR(100) NOT NULL, 
	value TEXT, 
	description TEXT, 
	category VARCHAR(50), 
	is_active BOOL, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id)
)


;


CREATE TABLE stock_warehouses (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	entreprise_id INTEGER NOT NULL, 
	code VARCHAR(50) NOT NULL, 
	name VARCHAR(200) NOT NULL, 
	type VARCHAR(50), 
	description TEXT, 
	address TEXT, 
	contact_person VARCHAR(100), 
	contact_phone VARCHAR(20), 
	contact_email VARCHAR(150), 
	is_default BOOL, 
	is_active BOOL, 
	capacity_limit NUMERIC(15, 2), 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	UNIQUE (code)
)


;


CREATE TABLE compta_classes (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	code VARCHAR(10) NOT NULL, 
	nom VARCHAR(100) NOT NULL, 
	libelle VARCHAR(255) NOT NULL, 
	type VARCHAR(20) NOT NULL, 
	document VARCHAR(50) NOT NULL, 
	enterprise_id INTEGER NOT NULL, 
	actif BOOL, 
	date_creation DATETIME NOT NULL, 
	date_modification DATETIME NOT NULL, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	CONSTRAINT uq_classe_code_enterprise UNIQUE (code, enterprise_id), 
	FOREIGN KEY(enterprise_id) REFERENCES core_enterprises (id)
)


;


CREATE TABLE core_payment_modes (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	enterprise_id INTEGER NOT NULL, 
	code VARCHAR(50) NOT NULL, 
	label VARCHAR(150) NOT NULL, 
	description TEXT, 
	compte_id INTEGER, 
	compte_label VARCHAR(200), 
	is_default INTEGER, 
	is_active INTEGER, 
	sort_order INTEGER, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(enterprise_id) REFERENCES core_enterprises (id)
)


;


CREATE TABLE core_pos_points (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	enterprise_id INTEGER NOT NULL, 
	module_id INTEGER NOT NULL, 
	name VARCHAR(255) NOT NULL, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(enterprise_id) REFERENCES core_enterprises (id), 
	FOREIGN KEY(module_id) REFERENCES modules (id)
)


;


CREATE TABLE core_product_categories (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	entreprise_id INTEGER NOT NULL, 
	name VARCHAR(100) NOT NULL, 
	description TEXT, 
	parent_id INTEGER, 
	is_active BOOL, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(entreprise_id) REFERENCES core_enterprises (id), 
	FOREIGN KEY(parent_id) REFERENCES core_product_categories (id)
)


;


CREATE TABLE core_users (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	enterprise_id INTEGER NOT NULL, 
	name VARCHAR(255) NOT NULL, 
	email VARCHAR(100) NOT NULL, 
	password VARCHAR(255) NOT NULL, 
	`role` VARCHAR(50), 
	modules TEXT, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(enterprise_id) REFERENCES core_enterprises (id), 
	UNIQUE (email)
)


;


CREATE TABLE hotel_rooms (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	number VARCHAR(20) NOT NULL, 
	hotel_category_id INTEGER NOT NULL, 
	status VARCHAR(50), 
	created_at DATETIME, 
	deleted INTEGER, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(hotel_category_id) REFERENCES hotel_categories (id)
)


;


CREATE TABLE licences (
	id VARCHAR(64) NOT NULL, 
	cle VARCHAR(255) NOT NULL, 
	type VARCHAR(50) NOT NULL, 
	date_activation DATETIME NOT NULL, 
	date_expiration DATETIME NOT NULL, 
	signature VARCHAR(255) NOT NULL, 
	active BOOL, 
	entreprise_id INTEGER, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	UNIQUE (cle), 
	FOREIGN KEY(entreprise_id) REFERENCES core_enterprises (id)
)


;


CREATE TABLE stock_inventaire (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	entreprise_id INTEGER NOT NULL, 
	reference VARCHAR(100) NOT NULL, 
	session_name VARCHAR(200) NOT NULL, 
	warehouse_id INTEGER NOT NULL, 
	inventory_type VARCHAR(50), 
	status VARCHAR(20), 
	scheduled_date DATETIME, 
	started_date DATETIME, 
	completed_date DATETIME, 
	notes TEXT, 
	total_items INTEGER, 
	counted_items INTEGER, 
	total_discrepancies INTEGER, 
	total_variance_value NUMERIC(15, 2), 
	total_counted_purchase_value NUMERIC(15, 2), 
	include_zero_stock BOOL, 
	auto_freeze_stock BOOL, 
	send_notifications BOOL, 
	created_by INTEGER, 
	created_by_name VARCHAR(100), 
	completed_by INTEGER, 
	completed_by_name VARCHAR(100), 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	UNIQUE (reference), 
	FOREIGN KEY(warehouse_id) REFERENCES stock_warehouses (id)
)


;


CREATE TABLE stock_livraisons (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	numero VARCHAR(50) NOT NULL, 
	entreprise_id INTEGER NOT NULL, 
	entrepot_depart_id INTEGER NOT NULL, 
	entrepot_arrivee_id INTEGER NOT NULL, 
	statut VARCHAR(30), 
	valeur_totale NUMERIC(15, 2), 
	utilisateur_id INTEGER, 
	utilisateur_nom VARCHAR(100), 
	date_creation DATETIME, 
	date_livraison DATETIME, 
	date_reception DATETIME, 
	notes TEXT, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	UNIQUE (numero), 
	FOREIGN KEY(entrepot_depart_id) REFERENCES stock_warehouses (id), 
	FOREIGN KEY(entrepot_arrivee_id) REFERENCES stock_warehouses (id)
)


;


CREATE TABLE stock_produits_entrepot (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	product_id INTEGER NOT NULL, 
	warehouse_id INTEGER NOT NULL, 
	quantity NUMERIC(15, 3), 
	reserved_quantity NUMERIC(15, 3), 
	unit_cost NUMERIC(15, 2), 
	total_cost NUMERIC(15, 2), 
	min_stock_level NUMERIC(15, 3), 
	last_movement_date DATETIME, 
	location VARCHAR(100), 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(warehouse_id) REFERENCES stock_warehouses (id)
)


;


CREATE TABLE achat_commandes (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	numero VARCHAR(50) NOT NULL, 
	fournisseur_id INTEGER, 
	entrepot_id INTEGER NOT NULL, 
	utilisateur_id INTEGER NOT NULL, 
	date_commande DATETIME, 
	remise_global DECIMAL(12, 2), 
	montant_total DECIMAL(12, 2) NOT NULL, 
	etat ENUM('ENCOURS','ANNULE','VALIDE','RECEPTIONNE'), 
	statut_paiement VARCHAR(20) NOT NULL, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	UNIQUE (numero), 
	FOREIGN KEY(fournisseur_id) REFERENCES core_fournisseurs (id), 
	FOREIGN KEY(entrepot_id) REFERENCES stock_warehouses (id), 
	FOREIGN KEY(utilisateur_id) REFERENCES core_users (id)
)


;


CREATE TABLE compta_comptes (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	numero VARCHAR(20) NOT NULL, 
	nom VARCHAR(255) NOT NULL, 
	libelle VARCHAR(255) NOT NULL, 
	actif BOOL, 
	is_default BOOL NOT NULL, 
	classe_comptable_id INTEGER NOT NULL, 
	date_creation DATETIME NOT NULL, 
	date_modification DATETIME NOT NULL, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(classe_comptable_id) REFERENCES compta_classes (id)
)


;


CREATE TABLE compta_journaux (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	date_operation DATETIME NOT NULL, 
	libelle VARCHAR(255) NOT NULL, 
	montant NUMERIC(15, 2) NOT NULL, 
	type_operation VARCHAR(20) NOT NULL, 
	reference VARCHAR(100), 
	description TEXT, 
	enterprise_id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	valide BOOL NOT NULL, 
	valide_by VARCHAR(100), 
	date_validation DATETIME, 
	date_creation DATETIME NOT NULL, 
	date_modification DATETIME NOT NULL, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(enterprise_id) REFERENCES core_enterprises (id), 
	FOREIGN KEY(user_id) REFERENCES core_users (id)
)


;


CREATE TABLE hotel_reservations (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	client_id INTEGER NOT NULL, 
	reservation_code VARCHAR(10) NOT NULL, 
	hotel_category_id INTEGER NOT NULL, 
	room_id INTEGER, 
	date_entree_prevue DATETIME NOT NULL, 
	date_sortie_prevue DATETIME NOT NULL, 
	date_entree_reelle DATETIME, 
	date_sortie_reelle DATETIME, 
	status VARCHAR(50), 
	reduction FLOAT, 
	statut_paiement VARCHAR(30), 
	total_amount FLOAT, 
	notes TEXT, 
	created_at DATETIME, 
	user_id INTEGER, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(client_id) REFERENCES shop_clients (id), 
	UNIQUE (reservation_code), 
	FOREIGN KEY(hotel_category_id) REFERENCES hotel_categories (id), 
	FOREIGN KEY(room_id) REFERENCES hotel_rooms (id)
)


;


CREATE TABLE shop_paniers (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	pos_id INTEGER NOT NULL, 
	client_id INTEGER, 
	numero_commande VARCHAR(50), 
	status VARCHAR(50), 
	payment_method VARCHAR(50), 
	subtotal NUMERIC(15, 2), 
	remise_amount NUMERIC(15, 2), 
	total_final NUMERIC(15, 2), 
	pret INTEGER, 
	livre INTEGER, 
	validated_at DATETIME, 
	user_id INTEGER, 
	created_at DATETIME, 
	updated_at DATETIME, 
	notes TEXT, 
	PRIMARY KEY (id), 
	FOREIGN KEY(client_id) REFERENCES shop_clients (id), 
	UNIQUE (numero_commande), 
	FOREIGN KEY(user_id) REFERENCES core_users (id)
)


;


CREATE TABLE stock_inventaire_item (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	inventory_id INTEGER NOT NULL, 
	product_id INTEGER NOT NULL, 
	product_name VARCHAR(200), 
	product_code VARCHAR(50), 
	system_stock NUMERIC(15, 3), 
	counted_stock NUMERIC(15, 3), 
	variance NUMERIC(15, 3), 
	variance_value NUMERIC(15, 2), 
	variance_value_sale NUMERIC(15, 2), 
	unit_cost NUMERIC(15, 2), 
	location VARCHAR(100), 
	notes TEXT, 
	counted_by INTEGER, 
	counted_by_name VARCHAR(100), 
	counted_at DATETIME, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(inventory_id) REFERENCES stock_inventaire (id)
)


;


CREATE TABLE stock_livraison_items (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	livraison_id INTEGER NOT NULL, 
	product_id INTEGER NOT NULL, 
	product_name VARCHAR(200), 
	product_code VARCHAR(50), 
	quantite NUMERIC(15, 3) NOT NULL, 
	cout_unitaire NUMERIC(15, 2), 
	total_ligne NUMERIC(15, 2), 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(livraison_id) REFERENCES stock_livraisons (id)
)


;


CREATE TABLE stock_mouvements (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	product_id INTEGER NOT NULL, 
	warehouse_id INTEGER, 
	product_warehouse_id INTEGER, 
	movement_type VARCHAR(50) NOT NULL, 
	quantity NUMERIC(15, 3) NOT NULL, 
	unit_cost NUMERIC(15, 2), 
	total_cost NUMERIC(15, 2), 
	destination_warehouse_id INTEGER, 
	reference VARCHAR(100), 
	description TEXT, 
	batch_number VARCHAR(50), 
	expiry_date DATETIME, 
	user_id INTEGER, 
	user_name VARCHAR(100), 
	session_id VARCHAR(100), 
	movement_date DATETIME, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(warehouse_id) REFERENCES stock_warehouses (id), 
	FOREIGN KEY(product_warehouse_id) REFERENCES stock_produits_entrepot (id), 
	FOREIGN KEY(destination_warehouse_id) REFERENCES stock_warehouses (id)
)


;


CREATE TABLE achat_depenses (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	bon_commande_id INTEGER NOT NULL, 
	montant DECIMAL(12, 2) NOT NULL, 
	mode_paiement VARCHAR(50), 
	description VARCHAR(100), 
	date_paiement DATETIME, 
	reference VARCHAR(100), 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(bon_commande_id) REFERENCES achat_commandes (id)
)


;


CREATE TABLE compta_config (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	enterprise_id INTEGER NOT NULL, 
	pos_id INTEGER NOT NULL, 
	compte_caisse_id INTEGER, 
	compte_banque_id INTEGER, 
	compte_stock_id INTEGER, 
	compte_variation_stock_id INTEGER, 
	compte_client_id INTEGER, 
	compte_fournisseur_id INTEGER, 
	compte_fournisseur_debiteur_id INTEGER, 
	compte_vente_id INTEGER, 
	compte_achat_id INTEGER, 
	compte_tva_id INTEGER, 
	compte_remise_id INTEGER, 
	date_creation DATETIME NOT NULL, 
	date_modification DATETIME NOT NULL, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(enterprise_id) REFERENCES core_enterprises (id), 
	FOREIGN KEY(pos_id) REFERENCES core_pos_points (id), 
	FOREIGN KEY(compte_caisse_id) REFERENCES compta_comptes (id), 
	FOREIGN KEY(compte_banque_id) REFERENCES compta_comptes (id), 
	FOREIGN KEY(compte_stock_id) REFERENCES compta_comptes (id), 
	FOREIGN KEY(compte_variation_stock_id) REFERENCES compta_comptes (id), 
	FOREIGN KEY(compte_client_id) REFERENCES compta_comptes (id), 
	FOREIGN KEY(compte_fournisseur_id) REFERENCES compta_comptes (id), 
	FOREIGN KEY(compte_fournisseur_debiteur_id) REFERENCES compta_comptes (id), 
	FOREIGN KEY(compte_vente_id) REFERENCES compta_comptes (id), 
	FOREIGN KEY(compte_achat_id) REFERENCES compta_comptes (id), 
	FOREIGN KEY(compte_tva_id) REFERENCES compta_comptes (id), 
	FOREIGN KEY(compte_remise_id) REFERENCES compta_comptes (id)
)


;


CREATE TABLE compta_ecritures (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	journal_id INTEGER NOT NULL, 
	compte_comptable_id INTEGER NOT NULL, 
	debit NUMERIC(15, 2), 
	credit NUMERIC(15, 2), 
	ordre INTEGER NOT NULL, 
	libelle VARCHAR(255), 
	date_creation DATETIME NOT NULL, 
	updated_at DATETIME, 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(journal_id) REFERENCES compta_journaux (id), 
	FOREIGN KEY(compte_comptable_id) REFERENCES compta_comptes (id)
)


;


CREATE TABLE core_products (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	entreprise_id INTEGER NOT NULL, 
	category_id INTEGER, 
	code VARCHAR(50), 
	name VARCHAR(200) NOT NULL, 
	description TEXT, 
	image TEXT, 
	barcode VARCHAR(100), 
	cost NUMERIC(15, 2), 
	price_unit NUMERIC(15, 2), 
	unit VARCHAR(50), 
	compte_produit_id INTEGER, 
	compte_charge_id INTEGER, 
	stock_account_id INTEGER, 
	product_type VARCHAR(50), 
	is_active BOOL, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(entreprise_id) REFERENCES core_enterprises (id), 
	FOREIGN KEY(category_id) REFERENCES core_product_categories (id), 
	UNIQUE (code), 
	FOREIGN KEY(compte_produit_id) REFERENCES compta_comptes (id), 
	FOREIGN KEY(compte_charge_id) REFERENCES compta_comptes (id), 
	FOREIGN KEY(stock_account_id) REFERENCES compta_comptes (id)
)


;


CREATE TABLE hotel_payments (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	reservation_id INTEGER NOT NULL, 
	amount FLOAT NOT NULL, 
	method VARCHAR(50), 
	reference VARCHAR(200), 
	created_at DATETIME, 
	user_id INTEGER, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(reservation_id) REFERENCES hotel_reservations (id)
)


;


CREATE TABLE shop_paniers_services (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	panier_id INTEGER NOT NULL, 
	service_id INTEGER NOT NULL, 
	quantity NUMERIC(15, 2), 
	price_unit NUMERIC(15, 2) NOT NULL, 
	total_price NUMERIC(15, 2) NOT NULL, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(panier_id) REFERENCES shop_paniers (id), 
	FOREIGN KEY(service_id) REFERENCES shop_services (id)
)


;


CREATE TABLE shop_payments (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	panier_id INTEGER NOT NULL, 
	payment_method VARCHAR(50) NOT NULL, 
	amount NUMERIC(15, 2) NOT NULL, 
	payment_date DATETIME, 
	reference VARCHAR(100), 
	notes TEXT, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(panier_id) REFERENCES shop_paniers (id)
)


;


CREATE TABLE achat_commande_lignes (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	bon_commande_id INTEGER NOT NULL, 
	produit_id INTEGER NOT NULL, 
	created_at DATETIME, 
	updated_at DATETIME, 
	quantite DECIMAL(12, 2) NOT NULL, 
	prix_unitaire DECIMAL(12, 2) NOT NULL, 
	remise_ligne DECIMAL(12, 2), 
	total_ligne DECIMAL(12, 2) NOT NULL, 
	PRIMARY KEY (id), 
	FOREIGN KEY(bon_commande_id) REFERENCES achat_commandes (id), 
	FOREIGN KEY(produit_id) REFERENCES core_products (id)
)


;


CREATE TABLE pos_product_access (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	pos_id INTEGER NOT NULL, 
	product_id INTEGER NOT NULL, 
	custom_price NUMERIC(15, 2), 
	custom_cost NUMERIC(15, 2), 
	is_available BOOL, 
	display_order INTEGER, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(pos_id) REFERENCES core_pos_points (id), 
	FOREIGN KEY(product_id) REFERENCES core_products (id)
)


;


CREATE TABLE shop_paniers_products (
	id INTEGER NOT NULL AUTO_INCREMENT, 
	panier_id INTEGER NOT NULL, 
	product_id INTEGER NOT NULL, 
	quantity NUMERIC(15, 2) NOT NULL, 
	price_unit NUMERIC(15, 2) NOT NULL, 
	total_price NUMERIC(15, 2) NOT NULL, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(panier_id) REFERENCES shop_paniers (id), 
	FOREIGN KEY(product_id) REFERENCES core_products (id)
)


;

